Since many potential Pandas users have some familiarity with SQL, this page is meant to provide some examples of how various SQL operations can be performed using pandas.

In [10]:
import pandas as pd

url = 'temp.csv'

tips = pd.read_csv(url)
print(tips)
print(tips.head())

   S.No    Name  Age       City  Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900
4     5   Akash   26    Kolkata    1900
5     6   Abhra   24    Vellore    2500
6     7    Amit   30  New Delhi    2900
7     8     Dev   28     Mumbai    2300
8     9    John   31  Bangalore    4900
9    10   James   23    Gurgaon    2400
   S.No    Name  Age       City  Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900
4     5   Akash   26    Kolkata    1900

# SELECT
In SQL, selection is done using a comma-separated list of columns that you select (or a * to select all columns) −

SELECT S.No, Name, Age, City, Salary
FROM tips
LIMIT 5;

With Pandas, column selection is done by passing a list of column names to your DataFrame −

tips[['S.No', 'Name', 'Age', 'City', 'Salary']].head(5)

In [6]:
import pandas as pd

url = 'temp.csv'
 
tips = pd.read_csv(url)
print(tips[['S.No', 'Name', 'Age', 'City', 'Salary']].head(5))

   S.No    Name  Age       City  Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900
4     5   Akash   26    Kolkata    1900

# WHERE
Filtering in SQL is done via a WHERE clause.

SELECT * FROM tips WHERE Name = 'Akash' LIMIT 5;
 
DataFrames can be filtered in multiple ways; the most intuitive of which is using Boolean indexing.

tips[tips['Name'] == 'Akash'].head(5)

In [7]:
import pandas as pd

url = 'temp.csv'

tips = pd.read_csv(url)
print(tips[tips['Name'] == 'Akash'].head(5))

   S.No   Name  Age     City  Salary
4     5  Akash   26  Kolkata    1900

# GroupBy
This operation fetches the count of records in each group throughout a dataset. For instance, a query fetching us the number of tips left by sex −

SELECT Age, count(*)
FROM tips
GROUP BY Age;

The Pandas equivalent would be −

tips.groupby('Age').size()

In [11]:
import pandas as pd

url = 'temp.csv'

tips = pd.read_csv(url)
print(tips.groupby('Age').size())

Age
23    1
24    1
26    1
28    2
30    1
31    1
32    1
38    1
43    1
dtype: int64

# Top N rows
SQL returns the top n rows using LIMIT −

SELECT * FROM tips
LIMIT 5 ;

The Pandas equivalent would be −

tips.head(5)

In [12]:
import pandas as pd

url = 'temp.csv'

tips = pd.read_csv(url)
tips = tips[['Name', 'Age', 'City']].head(5)
print(tips)

     Name  Age       City
0     Tom   28    Toronto
1     Lee   32   HongKong
2  Steven   43   Bay Area
3     Ram   38  Hyderabad
4   Akash   26    Kolkata