# To iterate over the rows of the DataFrame, we can use the following functions:

iteritems() − to iterate over the (key,value) pairs

iterrows() − iterate over the rows as (index,series) pairs

itertuples() − iterate over the rows as namedtuples

# iteritems()
Iterates over each column as key, value pair with label as key and column value as a Series object.

In [8]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
df = pd.DataFrame(d)
for key,value in df.iteritems():
    print(key,"\n",value)

Name
 0        Tom
1      James
2      Ricky
3        Vin
4      Steve
5      Smith
6       Jack
7        Lee
8      David
9     Gasper
10    Betina
11    Andres
Name: Name, dtype: object
Age
 0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64
Rating
 0     4.23
1     3.24
2     3.98
3     2.56
4     3.20
5     4.60
6     3.80
7     3.78
8     2.98
9     4.80
10    4.10
11    3.65
Name: Rating, dtype: float64

# iterrows()
iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

In [9]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
df = pd.DataFrame(d)
for row_index,row in df.iterrows():
    print(row_index,"\n",row)

0
 Name       Tom
Age         25
Rating    4.23
Name: 0, dtype: object
1
 Name      James
Age          26
Rating     3.24
Name: 1, dtype: object
2
 Name      Ricky
Age          25
Rating     3.98
Name: 2, dtype: object
3
 Name       Vin
Age         23
Rating    2.56
Name: 3, dtype: object
4
 Name      Steve
Age          30
Rating      3.2
Name: 4, dtype: object
5
 Name      Smith
Age          29
Rating      4.6
Name: 5, dtype: object
6
 Name      Jack
Age         23
Rating     3.8
Name: 6, dtype: object
7
 Name       Lee
Age         34
Rating    3.78
Name: 7, dtype: object
8
 Name      David
Age          40
Rating     2.98
Name: 8, dtype: object
9
 Name      Gasper
Age           30
Rating       4.8
Name: 9, dtype: object
10
 Name      Betina
Age           51
Rating       4.1
Name: 10, dtype: object
11
 Name      Andres
Age           46
Rating      3.65
Name: 11, dtype: object

# itertuples()
itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

In [10]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
df = pd.DataFrame(d)
for row in df.itertuples():
    print(row)

Pandas(Index=0, Name='Tom', Age=25, Rating=4.23)
Pandas(Index=1, Name='James', Age=26, Rating=3.24)
Pandas(Index=2, Name='Ricky', Age=25, Rating=3.98)
Pandas(Index=3, Name='Vin', Age=23, Rating=2.56)
Pandas(Index=4, Name='Steve', Age=30, Rating=3.2)
Pandas(Index=5, Name='Smith', Age=29, Rating=4.6)
Pandas(Index=6, Name='Jack', Age=23, Rating=3.8)
Pandas(Index=7, Name='Lee', Age=34, Rating=3.78)
Pandas(Index=8, Name='David', Age=40, Rating=2.98)
Pandas(Index=9, Name='Gasper', Age=30, Rating=4.8)
Pandas(Index=10, Name='Betina', Age=51, Rating=4.1)
Pandas(Index=11, Name='Andres', Age=46, Rating=3.65)