# Let us now create a Series

In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

# lower()

Converts strings in the Series/Index to lower case.

In [2]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

# upper()

Converts strings in the Series/Index to upper case.

In [3]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print(s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

# len()

Computes String length().

In [4]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print(s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

# strip()

Helps strip whitespace(including newline) from each string in the Series/index from both the sides.

In [8]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom  ', '   William Rick', 'John', 'Alber@t'])
print(s)
print ("After Stripping:")
print(s.str.strip())

0              Tom
1       William Rick
2               John
3            Alber@t
dtype: object
After Stripping:
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

# split(' ')

Splits each string with the given pattern.

In [9]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s)
print ("Split Pattern:")
print(s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Split Pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

# cat(sep=' ')

Concatenates the series/index elements with given separator.

In [10]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

# get_dummies()

Returns the DataFrame with One-Hot Encoded values.

In [11]:
import pandas as pd
import numpy as np

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

# contains(pattern)

Returns a Boolean value True for each element if the substring contains in the element, else False.

In [16]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

# replace(a,b)

Replaces the value a with the value b.

In [17]:
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print(s)
print ("After replacing @ with $:")
print(s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

# repeat(value)

Repeats each element with specified number of times.

In [18]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

# count(pattern)

Returns count of appearance of pattern in each element.

In [21]:
import pandas as pd
 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("The number of 'm's in each string:")
print(s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

# startswith(pattern)

Returns true if the element in the Series/Index starts with the pattern.

In [22]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print(s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

# endswith(pattern)

Returns true if the element in the Series/Index ends with the pattern.

In [23]:
import pandas as pd
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print(s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

# find(pattern)

Returns the first position of the first occurrence of the pattern.

In [26]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.find('m'))

# "-1" indicates that there no such pattern available in the element.

0    2
1    7
2   -1
3   -1
dtype: int64

# findall(pattern)

Returns a list of all occurrence of the pattern.

In [28]:
import pandas as pd

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print(s.str.findall('e'))

# Null list([ ]) indicates that there is no such pattern available in the element.

0     []
1     []
2     []
3    [e]
dtype: object

# swapcase

Swaps the case lower/upper.

In [29]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print(s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

# islower()

Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean

In [30]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print(s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

# isupper()

Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.

In [31]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print(s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

# isnumeric()

Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

In [32]:
import pandas as pd

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print(s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool